# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
env/

# secrets
.env
.envrc

# devenv
.devenv/
.direnv/

# editors
.vscode/
.idea/
